<div class= "container">
  <header class= "jumbotron">
    <h1>Super Rentals</h1>
      {{#each modela as |announcement|}}
        {{announcement-tile announcement=announcement}}
      {{/each}}


    </header>
    {{outlet}}
  <hr>
  <footer>
    <p>{{#link-to 'index'}}Home{{/link-to}}</p>
    <p>{{#link-to 'about'}}About{{/link-to}}</p>
    <p>{{#link-to 'contact'}}Contact Us{{/link-to}}</p>
  </footer>
</div>
